* {
    margin: 15;
    padding: 15;
    box-sizing: border-box;
  }
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  .keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    background-color: rgb(32, 170, 170);
    border: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
  }
  .delete {
    font-size: 1rem;
    text-transform: capitalize;
  }
  .delete {
    width: 100px;
  }
  .textarea {
    background-color: rgb(104, 104, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: 0.5rem;
  }
  .upper {
    text-transform: uppercase;
  }